@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Changa', sans-serif;

    background: url('./assets/main-bg.svg') center / cover;
}

body {
    touch-action: none !important;
}

.default-bg {
    background: url('./assets/main-bg.svg') center / cover;
}

.game-my-avatar {
    background: url('./assets/my-game-avatar.svg') center / cover;
}

.game-opponent-avatar {
    background: url('./assets/opponent-avatar.svg') center / cover;
}

.default-btn,
.default-btn-disabled {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    color: white;
}

.default-btn {
    background: url('assets/default-button-bg.webp') center top / cover no-repeat;
}
.yellow-btn {
    background: url('assets/deafult-button-yellow-bg.webp') center top / cover no-repeat;
}

.default-btn-disabled {
    background: url('assets/deafult-button-disabled-bg.webp') center top / cover no-repeat;

}

.max-height-80vh {
    max-height: 75vh;
}

.main-blue-btn {
    background: #1F2135;
}

.main-blue-btn-dark {
    background: #1F2135;
    color: #565A74;
}

.mirror {
    transform: scale(-1, 1);
}

.main-page-bg {
    background-image: url('./assets/home-bg.svg');

    /* Full height */
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: scale(2.4);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.blur-modal-bg {
    background: rgba(43, 46, 68, 0.5);
    backdrop-filter: blur(15px);
}

.modal-shadow {
    box-shadow: 0 0 60px 0 rgba(32, 34, 53, 1);
}

@media screen and (max-height: 660px) {
    .logo-wrapper {
        min-height: calc(66vh - 88px) !important;
    }

}


.history-item:last-child {
    border: none;
}


.stones-chess-bg {
    background-image: url("assets/game-fields/stones/chess-bg.svg");
}

@keyframes button-appear {
    0% {
        opacity: 0;
        width: 30%;
        margin-left: 35%;
        margin-top: 50%;
    }
    10% {
        opacity: 1;
        width: 30%;
        margin-left: 35%;
        margin-top: 50%;
    }
    100% {
        width: 90%;
        margin-left: 5%;
        margin-top: 0;
        opacity: 1;
    }
}

.game-process-button {
    width: 30%;
    margin-left: 35%;
    margin-top: 50%;
    opacity: 0;
    animation: button-appear .3s forwards;
    animation-delay: 1s;
}


@keyframes button-hide {
    0% {
        width: 90%;
        margin-left: 5%;
        margin-top: 0;
        opacity: 1;
    }
    10% {
        opacity: 1;
        width: 30%;
        margin-left: 35%;
        margin-top: 50%;
    }
    100% {
        opacity: 0;
        width: 30%;
        margin-left: 35%;
        margin-top: 50%;
    }
}

.game-process-button-inactive {
    width: 90%;
    margin-left: 5%;
    margin-top: 0;
    opacity: 1;
    animation: button-hide .3s forwards;
}


.round-table {
    text-shadow: -1px 1px #000000;
    border-radius: 4px 0 0 4px;
    border: 1px solid black;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px 10px;
    backdrop-filter: blur(6px);
}

.game-preparing-username-color {
    background: linear-gradient(180deg, #FF9E0D 0%, #FE5802 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spin-bg {
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}