@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Changa', sans-serif;

    background: url('./assets/main-bg.svg') center / cover;
}

body {
    touch-action: none !important;
}

.default-btn,
.default-btn-disabled {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    color: white;
}

.default-btn {
    background: url('assets/default-button-bg.png') center top / cover no-repeat;
}

.default-btn-disabled {
    background: url('assets/deafult-button-disabled-bg.png') center top / cover no-repeat;

}

.max-height-80vh {
    max-height: 75vh;
}

.main-blue-btn {
    background: #1F2135;
}

.main-blue-btn-dark {
    background: #1F2135;
    color: #565A74;
}

.mirror {
    transform: scale(-1, 1);
}

.main-page-bg {
    background-image: url('./assets/home-bg.svg');

    /* Full height */
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: scale(2.4);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.blur-modal-bg {
    background: rgba(43, 46, 68, 0.5);
    backdrop-filter: blur(15px);
}

.modal-shadow {
    box-shadow: 0 0 60px 0 rgba(32, 34, 53, 1);
}

@media screen and (max-height: 660px) {
    .logo-wrapper {
        min-height: calc(66vh - 88px) !important;
    }


    .home-advice {
        /*bottom: 25px !important;*/
        /*line-height: 20px !important;*/
        /*font-size: 14px !important;*/
    }
}

@media screen and (min-height: 660px) {
    /*.bg-wrapper {*/
    /* top: -100px!important;*/
    /*}*/

}


.history-item:last-child {
    border: none;
}
